/*
 *  Numeração das classes e divisões de conteúdo:

 *  01. Basic Styles
 *  02. Intro
 *  03. Social Icons
 *  04. Icon Fonts
 *  05. Section Styles
 *  06. Timeline Styles
 *  05. Footer

 */

/* 01. Basic Styles */

 html {
    overflow-x: hidden;
 }
 body {
    font-family: 'Source Sans Pro', sans-serif;
 }

 h1 {
    font-weight: bold;
 }

 h2 {
    font-weight: bold;
 }

 h5 {
    font-weight: 600;
 }

 p {
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
 }

 a:hover {
    text-decoration:none;
    opacity: 0.9;
 }

 hr {
    border-top: 5px solid #e6b362;
    width: 80px;
    padding-bottom: 20px;
 }

 .section-primary span {
    font-weight: bolder;
    opacity: 1;
 }

/* 02. Intro */

 .section-image {
 	background: url(../images/cg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
    display:table;
 }

 .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .7;
 }

 .intro {
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}

.intro .row {
    margin-right: 0;
    margin-left:0;
}

.intro h1 {
    font-size: 84px;
}

.intro h5 {
    font-size: 2.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.section-image span {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0 10px;
    font-weight: 100;
}

.section-image h1 {
    margin-top: 0;
}

.section-image p {
    font-weight: lighter;
    opacity: 0.9;
}



/* 03. Social Icons */

.social {
  margin: 0 10px;
  padding-top: 1.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

.social a {
  color: white;
  text-decoration:none;
  padding: 2em;
}

.social a:hover{
  transition: .3s ease-in-out;
  color: #e6b362;
}

.social-footer {
    position: block;
    padding: 15px;
}

.social-footer a {
    color: white;
    text-decoration: none;
    padding: 0.6em;
    font-size: 1.7em;
}

.social-footer a:hover {
    color: #d4a250;
    transition: .25s ease-out;
}


/* 04. Icon Font */

 .lnr {
    font-size: 4em !important;
    color:#fff;
 }

/* 05. Section Styles */

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.profilepic {
    height: 150px;
    width: auto;
    border-radius: 300px;
}

.section-primary p {
    text-align: justify;
}

.section-colour p {
    text-align: justify;
}

.section-heading .lead, .section-heading h2 {
    text-align: center;
}

.section-colour {
    border: #fff;
}

.section-colour hr {
    border-top: 5px solid #fff;
 }



/* 01. Timeline Styles */

.timeline-icon .fa {
    color: white;
    margin: 14px;
    font-size: 1.7em;
}

#skills {
    background: #151515 url(../images/fundo2.png) no-repeat center center;
    /* background-attachment: fixed; */
    height: auto;
}

#lawyer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lawyer h3{
    font-size: 20px;
    padding-left: 9rem;
}

#lawyer a {
    color: #d4a250;
    font-size: 50px;
    display: inline-block;
    position: relative;
}

#lawyer span {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0 10px;
    font-weight: 100;
}

#solicite:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #d4a250;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #solicite:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* 05. Footer */

footer {
    display: block;
    position: static;
    bottom: 0;
    background-color: #101414;
    color: #fff;
    padding: 50px 0;
}

footer p {
    padding: 15px;
    opacity: 0.8;
}


/* EXTRAS */



        /* Mouse Icon */

        .mouse-icon {
            border: 2px solid #e6b362;
            border-radius: 16px;
            display: block;
            height: 50px;
            margin: 100px auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 30px;
            z-index: 10;
        }
        .mouse-icon .scroll {
            animation-delay: 0s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: scrolling;
            animation-play-state: running;
            animation-timing-function: linear;
        }
        .mouse-icon .scroll {
            background: #ffffff none repeat scroll 0 0;
            border-radius: 10px;
            height: 10px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 4px;
            width: 4px;
        }
        @keyframes scrolling {
        0% {
            opacity: 0;
            top: 5px;
        }
        30% {
            opacity: 1;
            top: 10px;
        }
        100% {
            opacity: 0;
            top: 25px;
        }
        }

        .pad-xl {
            padding: 200px 0px;
        }

        .pad-lg {
            padding: 160px 0px;
        }

        .pad-sm {
            padding: 80px 0px;
        }

        .pad-xs {
            padding: 30px 0px;
        }

        /* /Mouse Icon */

        /* map */

        .location {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .location h3{
            padding-top: 1.5em;
            padding-left: 5rem;
            font-size: small;
        }
        
        .location h2{
            color: #e6b362;
        }

        #map {
            margin: 5rem 5rem;
            filter: blur(3px);
            filter: grayscale(1);
            filter: saturate(2.2);
        }

        .consultoria  hr {
            border-top: 5px solid #e6b362;
            width: 80px;
         }
 
/* Media Queries */

@media (max-width: 480px) {
    .social a {
        padding: 0.4em;
        font-size: 0.9em;
    }

    .social-footer {
        text-align: center;
        position:block;
        text-align: center;
    }

    .social-footer a {
        padding: 0.3em;
        font-size: 1.6em;

    }

    .intro-desc {
        font-size: 0.7em;
    }

    .section-image span {
        font-size: 1em;
        padding: 0 1px;

}

    .intro h1 {
        font-size: 50px;
        padding-top: 15px;
    }

    footer {
        text-align: center;
        padding-bottom: 100px;
    }

    #skills {
        background: #151515 no-repeat center center;
        background-position: top center;

    }
}

@media (max-width: 991px) {
    .social-footer {
        text-align: center;
    }

    footer p {
    text-align: center;
    }

}

.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
    justify-content: center;
    align-items: center;
  }
  
  .form label,
  .form input,
  .form textarea,
  .form button {
    display: block;
    width: 100%;
  }
  
  .form label {
    color: #dff6ff;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  
  .form input,
  .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
  }
  
  .form textarea {
    min-height: 13rem;
    resize: vertical;
  }
  
  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
    outline: none;
    border-color: #d4a250;
    box-shadow: 0 0 0 3px #d4a250;
  }
  
  .form button {
    display: block;
    padding: 1rem;
    background: #d4a250;
    color: black;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .form button:hover,
  .form button:focus {
    outline: none;
    background: #d4a250;
  }
  